node_modules
.env
vercel-env.txt
!package.json
!package-lock.json
!tsconfig.json
!components.json
!biome.json
server/node_modules
client/node_modules
FoloUp/node_modules
unwanted
en_content.md
*.local